@font-face {
  font-family: "Daehan";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff")
      format("woff");
}

/* Image container */
.home-img-cntnr {
  width: 100%;
  height: 811px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-cntnr {
  z-index: -1;
}

.home-img-content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}

.img-filter {
  width: 100%;
  height: 811px;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
}

.content {
  color: #ffffff;
}

.content-sub {
  font-size: 22.5px;
  width: 450px;
  text-align: center;
  line-height: 30px;
}

.content-main {
  font-size: 60px;
  font-family: "Daehan";
}

/* Content Section */
.main-content-cntnr {
  display: flex;
  flex-direction: row;
  margin: 50px 0 50px 0;
  justify-content: space-around;
}

.featured-content-cntnr {
  display: flex;
  flex-direction: column;
}

.game-intro-cntnr {
  display: flex;
}

.content-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.content-img {
  width: 565px;
  height: 565px;
}

.content-img--sml {
  width: 330px;
  height: 490px;
}

.content-clmn-left {
  display: flex;
  flex-direction: column;
}

.gameExpl {
  width: 220px;
  font-size: 30px;
  margin: 55px 0 0 20px;
}

/* Home Footer */
.home-footer {
  width: 100%;
  height: 300px;
  position: relative;
}

.footer-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.info-cntnr {
  display: flex;
  position: absolute;
  top: 50px;
  left: 50px;
}

.info-title > ul > li,
.info-content > ul > li {
  font-size: 15px;
  color: #ffffff;
  margin-top: 15px;
  font-family: "NanumSquareRoundL", sans-serif;
}

.info-title > ul:first-child,
.info-content > ul:first-child {
  margin: 0;
}

.info-content {
  margin-left: 25px;
}

.rights {
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-family: "NanumSquareRoundL", sans-serif;
}
