@import "./css/reset.css";
@import "./css/components/Navigation.css";
@import "./css/components/Button.css";

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: "NanumSquareRound", monospace;
  font-weight: 500;
}

a {
  color: #ffffff;
  font-family: "NanumSquareRound", monospace;
  font-weight: 500;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 200%;
}

a {
  text-decoration: none;
}
